.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5em;
  margin-top: 5.2em;
  margin-bottom: 3em;
  width: 93%;
}

.header .menu {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.28px;
  text-align: left;
  color: rgba(98, 98, 98, 1);
  padding-bottom: 32px;
}

.header .menu span {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.28px;
  text-align: left;
  color: rgba(245, 130, 31, 1);
}

.header .heading {
  font-family: Segoe UI;
  font-size: 32px;
  font-weight: 600;
  line-height: 42.56px;
  text-align: left;
}

.header p {
  font-family: Segoe UI;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.62px;
  text-align: left;
  color :rgba(98, 98, 98, 1);
}

.header button {
  width: 195px;
  height: 40px;
  padding: 8px;
  gap: 8px;
  border-radius: 8px ;
  background-color: rgba(17, 106, 181, 0.9);
  color: white;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 600;
  border: none;
}

.company-table{
  /*margin: 0 2em;
  margin-left: 5em;*/
  font-size: 14px;
}

:ng-deep .mat-mdc-dialog-container{
  position: absolute !important;
  max-width: 90%;
}
